<footer class="site-footer">
    <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="footer-copy-right text-center">
                        <p>
                            {{ 'Footer.Copyright' | translate:{ year: currentYear } }}
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>
</footer>