<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                         <div class="col-xl-2 col-lg-2"> 
                           <div class="logo2 app-header">
                            <a href="index.html">
                                <img src="assets/img/logo/logo.png" alt="" class="app-logo">
                            </a>
                            <h1 class="app-title">{{ 'app-name' | translate }}</h1>
                           </div>

                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> 
                                                <a class="hover-underline" [routerLink]="['/homePage']">{{ 'home' | translate }}</a>
                                            </li>

                                            <li routerLinkActive="active"> 
                                                <a class="hover-underline" [routerLink]="['/courses']">{{ 'courses' | translate }}</a>
                                            </li>

                                            <li routerLinkActive="active"> 
                                                <a class="hover-underline" [routerLink]="['/users']">{{ 'users' | translate }}</a>
                                            </li>
                                             <li routerLinkActive="active"> 
                                                <a class="hover-underline" [routerLink]="['/system-lookups']">{{ 'systemLookups' | translate }}</a>
                                            </li>
                                            
                                            <li routerLinkActive="active"> 
                                                <a class="hover-underline" [routerLink]="['/financial-transactions']">{{ 'financial-transactions' | translate }}</a>
                                            </li>

                                            <li routerLinkActive="active"> 
                                                <a class="hover-underline" [routerLink]="['/reports']">{{ 'reports' | translate }}</a>
                                            </li>

                                            <!-- Button -->
                                            <!-- <li class="button-header margin-left "><a href="#" class="btn">Join</a></li> -->
                                            <li class="button-header">
                                                <a (click)="handleLogoutClick()" class="btn btn3">{{ 'logout' |
                                                    translate }}</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>