<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                         <div class="col-xl-2 col-lg-2"> 
                           <div class="logo2 app-header">
                            <a [routerLink]="['/organization']">
                               <app-logo className="app-logo"></app-logo>
                            </a>
                            <h1 class="app-title">{{ 'app-name' | translate }}</h1>
                           </div>

                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> 
                                                <a class="hover-underline" [routerLink]="['/homePage']">{{ 'home' | translate }}</a>
                                            </li>

                                            <li routerLinkActive="active"> 
                                                <a class="hover-underline" [routerLink]="['/courses']">{{ 'courses' | translate }}</a>
                                            </li>

                                            <li routerLinkActive="active"> 
                                                <a class="hover-underline" [routerLink]="['/users']">{{ 'users' | translate }}</a>
                                            </li>
                                             <li routerLinkActive="active"> 
                                                <a class="hover-underline" [routerLink]="['/system-lookups']">{{ 'systemLookups' | translate }}</a>
                                            </li>
                                            
                                            <li routerLinkActive="active"> 
                                                <a class="hover-underline" [routerLink]="['/financial-transactions']">{{ 'financial-transactions' | translate }}</a>
                                            </li>

                                             <li routerLinkActive="active"> 
                                                <a  class="hover-underline" [routerLink]="['/payment']">{{ "payment.payment" | translate }} </a>
                                            </li>


                                            <li routerLinkActive="active"> 
                                                <a  class="hover-underline"  [routerLink]="['/reports']">{{ 'reports' | translate }} </a>
                                            </li>

                                             <li routerLinkActive="active"> 
                                                <a  class="hover-underline" [routerLink]="['/teachersTracking']">{{ 'tracking.tracking' | translate }} </a>
                                            </li>

                                             <li routerLinkActive="active"> 
                                                <a  class="hover-underline" [routerLink]="['/communication']">{{ 'communication.communication' | translate }} </a>
                                            </li>


                                            

                                            <!-- Button -->
                                            <!-- <li class="button-header margin-left "><a href="#" class="btn">Join</a></li> -->
                                            <li class="button-header">
                                                <a (click)="handleLogoutClick()" class="btn btn3">{{ 'logout' |
                                                    translate }}</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->  
                         <div class="col-12 d-block d-lg-none">
                            <div class="mobile_menu">
                                <button class="hamburger" (click)="toggleMobileMenu()">
                                ☰
                                </button>
                                <ul class="mobile-nav" [class.open]="mobileMenuOpen">
                                <li><a [routerLink]="['/homePage']" (click)="closeMobileMenu()">{{ 'home' | translate }}</a></li>
                                <li><a [routerLink]="['/courses']" (click)="closeMobileMenu()">{{ 'courses' | translate }}</a></li>
                                <li><a [routerLink]="['/users']" (click)="closeMobileMenu()">{{ 'users' | translate }}</a></li>
                                <li><a [routerLink]="['/system-lookups']" (click)="closeMobileMenu()">{{ 'systemLookups' | translate }}</a></li>
                                <li><a [routerLink]="['/financial-transactions']" (click)="closeMobileMenu()">{{ 'financial-transactions' | translate }}</a></li>
                                <li><a [routerLink]="['/reports']" (click)="closeMobileMenu()">{{ 'reports' | translate }}</a></li>
                                <li>
                                    <a (click)="handleLogoutClick(); closeMobileMenu()">
                                    {{ 'logout' | translate }}
                                    </a>
                                </li>
                                </ul>
                            </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>