  <main>
  <!-- Slider / Breadcrumb -->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <div class="single-slider slider-height2">
      </div>
    </div>
  </section>
  
  <div class="accordion-container">
    <app-custom-accordion title="financial-transactions">
      <app-generic-table
       #financialTransactionTable
       [primaryKey]="'transactionPk'"
       [columns]="financialTransactionsColumns"
       [dataFactory]="financialTransactionDataFactory"
       [apiPath]="'financialTransactions'"
       (rowSelected)="onTransactionSelected($event)"
       >
      </app-generic-table>
    </app-custom-accordion>
    <br>
    <app-custom-accordion title="financial-transactions">
      <app-generic-form
       [primaryKey]="'transactionPk'"
       [columns]="financialTransactionsColumns"
       [dataFactory]="financialTransactionDataFactory"
       [apiPath]="'financialTransactions'"
       [selectedRow]="selectedFinancialTransactions"
       (rowChanged)="onTransactionRowChanged($event)"
       >
      </app-generic-form>
    </app-custom-accordion>

  </div>
  </main>