  <main>
  <!-- Slider / Breadcrumb -->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <div class="single-slider slider-height2">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-11 col-md-12">
              <div class="hero__caption hero__caption2">
                <h1> {{'financial-transactions' | translate}}</h1>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="accordion-container">
      <!-- Courses -->
    <app-custom-accordion title="financial-transactions">
      <app-generic-table
       [primaryKey]="'transactionPk'"
       [columns]="financialTransactionsColumns"
       [dataFactory]="financialTransactionDataFactory"
       [apiPath]="'financialTransactions'"
       >
      </app-generic-table>
    </app-custom-accordion>

    </div>
  </main>