  <main>
  <!-- Slider / Breadcrumb -->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <div class="single-slider slider-height2">
      </div>
    </div>
  </section>
  
  <div class="accordion-container">
  <app-custom-accordion title="financial-transactions">
     <!-- Financial Transactions -->
          <app-button
            [label]="'FinancialTransactions.PayAll'"
            [onClick]="openPayAllPopup">
          </app-button>
        <mat-tab-group mat-stretch-tabs="false" (selectedTabChange)="onTabChange($event)">
          <!-- Center Due -->
          <mat-tab label='{{ "FinancialTransactions.CenterDue" | translate }}'>
            <ng-template matTabContent>
              <app-generic-table
                *ngIf="activeTabIndex === 0"
                #centerTable
                [primaryKey]="'transactionPk'"
                [columns]="financialTransactionsColumns"
                [dataFactory]="financialTransactionDataFactory"
                [apiPath]="'financialTransactions'"
                [searchParameterKey]="'payeeFk'"
                [selectedId]="orgnizationId"
                [showInTableFooter]="true"
                (rowSelected)="onTransactionSelected($event)"
                [exportToExcelFl]="true">
              </app-generic-table>
            </ng-template>
          </mat-tab>

          <!-- Teacher Due -->
          <mat-tab label='{{ "FinancialTransactions.TeacherDue" | translate }}'>
            <ng-template matTabContent>
              <app-generic-table
                *ngIf="activeTabIndex === 1"
                #teacherTable
                [primaryKey]="'transactionPk'"
                [columns]="financialTransactionsColumns"
                [dataFactory]="financialTransactionDataFactory"
                [apiPath]="'financialTransactions'"
                [searchParameterKey]="'payerFk'"
                [selectedId]="orgnizationId"
                [showInTableFooter]="true"
                (rowSelected)="onTransactionSelected($event)"
                [exportToExcelFl]="true"
                >
              </app-generic-table>
            </ng-template>
          </mat-tab>

          <!-- Student Payments -->
          <mat-tab label='{{ "FinancialTransactions.StudentPayments" | translate }}'>
            <ng-template matTabContent>
              <app-generic-table
                *ngIf="activeTabIndex === 2"
                #studentsTable
                [primaryKey]="'transactionPk'"
                [columns]="financialTransactionsColumns"
                [dataFactory]="financialTransactionDataFactory"
                [apiPath]="'financialTransactions'"
                [customSearchPath]="'search-students-payments'"
                [customExportPath]="'export-students-payments'"
                [showInTableFooter]="true"
                (rowSelected)="onTransactionSelected($event)"
                [exportToExcelFl]="true"
                >
              </app-generic-table>
            </ng-template>
          </mat-tab>
        </mat-tab-group>

    </app-custom-accordion>
    <br>
    <!--financial Transaction Details -->
    <app-custom-accordion title="FinancialTransactions.Details">
      <app-generic-form
       [primaryKey]="'transactionPk'"
       [columns]="financialTransactionsColumns"
       [dataFactory]="financialTransactionDataFactory"
       [apiPath]="'financialTransactions'"
       [selectedRow]="selectedFinancialTransactions"
       [commitLabel]="'FinancialTransactions.PayTransaction'"
       [customUpdatedPath]="updatePath"
       (rowChanged)="onTransactionRowChanged($event)"
       (rowSaved)="onTransactionSaved($event)"
       [confirmBeforeSave]="true"
      [buttonVisibility]="buttonVisibility"
       >
      </app-generic-form>
    </app-custom-accordion>

  </div>
  </main>
  