:root {
  --star-size: 10px;
  --star-gap: 0.15ch;
  --star-empty: #d9d9d9;
  --star-fill: #f59e0b;
  --star-text: #666;
}

.stars {
  display: inline-flex;
  align-items: center;      
  justify-content: center;   
  gap: 0.5ch;
  line-height: 1;
  width: 100%;              
}


.star {
  font-size: 20px !important;
  letter-spacing: var(--star-gap);
  color:#d9d9d9 !important;
  user-select: none;
}

.star.filled {
  color: #f59e0b !important;
}

.stars__text {
  font-size: 12px;
  color: var(--star-text);
}

.status-active {
  color: green;
  font-size: 20px;

}

.status-inactive {
  color: red;
  font-size: 20px;

}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.status-toggle {
  font-size: 22px;
  line-height: 1;
}

::ng-deep .input-error {
  border: 1px solid red !important;
  background-color: #fff0f0 !important;
}



.input-error {
  border: 1px solid red;
  background-color: white !important;
}

/* ✅ input يملى كل المساحة */
.custom-input {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.custom-label {
  height: 100%;
  width: 100%;
  padding: 0 5px;
  font-size: 11px;
  font-weight: 500; 
  font-family: 'cairoFont';
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



.checkbox-cell-wrapper {
  display: flex;
  justify-content: center;   /* أفقي */
  align-items: center;       /* عمودي */
  height: 100%;
}

.checkbox-cell-wrapper input[type="checkbox"] {
  transform: scale(1.2); 
    accent-color: hsl(var(--bg));

}
