.mat-expansion-header {
    font-family: 'bonFont';
    font-weight: 800;
    margin: 0px;
    color : hsl(var(--bg)) !important;
    height: 40px;
    font-weight: bolder;
    font-size: 25px;
    /* background: rgb(176, 29, 29); */
    line-height: 10px;
}


.mat-expansion-panel-header {
  pointer-events: auto;
}

.mat-expansion-panel-header[title]:hover:after {
  content: none !important;
}

.custom-panel .mat-expansion-panel-content {
  background-color: white !important ;
}

.custom-panel .mat-expansion-panel-header {
  background-color: white !important; /* full header red */
  color: white; /* optional: force text color */
}

