<main>
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <div class="single-slider slider-height2"> 
      </div>
    </div>
  </section>

  <ng-container *ngIf="organization$ | async as organization">


    <div class="accordion-container">
        <app-custom-accordion title="app-name">
           <app-generic-form
                [columns]="organizationColumns"
                [selectedRow]="organization"
                [dataFactory]="organizationDataFactory"
                [primaryKey]="'organizationsPk'"
                [apiPath]="'organizations'"
                [alwaysEditable]="true"
                [buttonVisibility]="ButtonVisibility"
                (rowSaved)="onOrganizationSaved($event)">
          </app-generic-form>
        </app-custom-accordion> 
     </div>
  </ng-container>
</main>