<main>
  <!-- Slider / Breadcrumb -->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <div class="single-slider slider-height2"> 
      </div>
    </div>
  </section>


  <div class="accordion-container">

<app-custom-accordion title="User.Users">
  <app-generic-table
    #usersTable
    [screenId]="'users'"
    [primaryKey]="'userPk'"
    [columns]="userColumns"
    [dataFactory]="userDataFactory"
    [apiPath]="'users'"
    (rowSelected)="onUserSelected($event)">
  </app-generic-table>
</app-custom-accordion>

<br>
<app-custom-accordion title="User.UserDetails">
  <app-generic-form
    [columns]="formCloumns"
    [selectedRow]="selectedUser"
    [alwaysEditable]="true"
    [primaryKey]="'userPk'"
    [dataFactory]="userDataFactory"
    [apiPath]="'users'"
    (rowChanged)="onselectedUserRowChanged($event)"
    (newRowCreated)="onNewUserRow($event)"
    (rowDeleted)="onUserRowDeleted($event)"
    (rowSaved)="onUserSaved($event)">
  </app-generic-form>
</app-custom-accordion>

<br>
<div *ngIf="selectedUser?.userTypeFk == 4">
  <app-custom-accordion title="TeacherSubjects.Section">
  <app-generic-table
    [screenId]="'teacherSubjects'"
    [primaryKey]="'teacherSubjectPk'"
    [columns]="teacherSubjectColumns"
    [dataFactory]="teacherSubjectDataFactory"
    [apiPath]="'teacherSubjects'"
    [selectedId]="selectedUser?.userPk"     
    [searchParameterKey]="'teacherFk'"
    [isEditableTable]="true">
  </app-generic-table>
</app-custom-accordion>
<br>
<app-custom-accordion title="TeacherQualification.Section">
    <app-generic-table
      [screenId]="'teacherQualifications'"
      [primaryKey]="'qualificationPk'"
      [columns]="teacherQualificationsColumns"
      [dataFactory]="teacherQualificationDataFactory"
      [apiPath]="'teacherQualifications'"
      [selectedId]="selectedUser?.userPk"     
      [searchParameterKey]="'teacherFk'">
    </app-generic-table>
</app-custom-accordion>
</div>


</div>
</main>