<main>
  <!-- Slider / Breadcrumb -->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <div class="single-slider slider-height2">
         
      </div>
    </div>
  </section>
<div class="accordion-container">

<app-custom-accordion title="Lookup.Lookups">
  <app-generic-table
    [screenId]="'lookups'"
    [primaryKey]="'lookupPk'"
    [columns]="lookupColumns"
    [dataFactory]="lookupDataFactory"
    [apiPath]="'lookups'"
    (rowSelected)="onLookupSelected($event)"
    [isEditableTable]="true">
  </app-generic-table>
</app-custom-accordion>

<br>

<app-custom-accordion title="LookupDetail.LookupDetails">
  <app-generic-table
    [screenId]="'lookupDetails'"
    [primaryKey]="'lookupDetailPk'"
    [columns]="lookupDetailColumns"
    [dataFactory]="lookupDetailDataFactory"
    [apiPath]="'lookupDetails'"
    [selectedId]="selectedLookup?.lookupPk"
    [searchParameterKey]="'lookupFk'"
    (rowSelected)="onDetailSelected($event)"
    [isEditableTable]="true">
  </app-generic-table>
</app-custom-accordion>

</div>
</main>