.generic-form-container {
  margin-top: 20px;
  padding: 10px;
  background : white;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* always 4 columns */
  gap: 1rem 2rem; /* row gap | column gap */
}

.form-item {
  display: flex;
  flex-direction: column;
}
.form-label {
  display: block;             
  margin-bottom: 0.4rem;
  font-weight: 600;
  font-family: 'bonFont'; 
  color: hsl(var(--bg)) !important;
  font-size: 14px;
  text-align: start;          
  direction: inherit;         
}

.custom-label {
  display: block;             
  box-sizing: border-box;
  padding: 0.9rem 0.75rem;     
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f5f5f5;
  font-size: 14px;
  color: #555;
  text-align: start;

  min-height: calc(2.25rem + 2px); 
  line-height: 1.2;
}

.custom-label:empty::before {
  content: '\00a0';
}


.form-item label {
  margin-bottom: 0.4rem;
  font-weight: 600;
  font-family: 'bonFont'; 
  color: hsl(var(--bg)) !important;
  font-size: 14px;
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.9rem 0.75rem;
  font-size: 14px; 
  width: 100%;
  transition: border 0.2s, box-shadow 0.2s;
}

.custom-input:focus {
  border-color: #0eadf2;
  box-shadow: 0 0 5px rgba(15, 92, 247, 0.3);
  outline: none;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.icon-wrapper.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.status-image {
  width: 20px;
  height: 20px;
}


.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
/* 
.button-wrapper {
  display: flex;              
  justify-content: center;  
  align-items: center;     
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: none;
  border-collapse: collapse;

} */
