<section class="slider-area">
    <div >
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container2">
                <div class="row align-items-center g-3 hero-row">
                    <div class="col-12 col-lg hero-text-30">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay="0.2s">{{ 'app-name' | translate }}</h1>
                            <p data-animation="fadeInLeft" data-delay="0.4s" class="text-center">
                                {{ 'taglineOne' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg hero-media-70">
                        <app-image-rotator></app-image-rotator>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>