<!-- <section class="team-area section-padding40 fix"> -->
<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8">
        <div class="section-tittle text-center mb-55">
          <h2>{{ 'Home.CenterStats' | translate: {} : 'Community experts' }}</h2>
        </div>
      </div>
    </div>
</div> -->

<div class="accordion-container">
<app-custom-accordion title="Home.CenterStats">
<div class="grid-2x2">
<app-monthly-financial-transactions></app-monthly-financial-transactions>
<app-daily-class-summary></app-daily-class-summary>
</div>
</app-custom-accordion>
</div>
<!-- </section> -->

