<!-- <main class="login-body position-relative">
<video autoplay muted loop playsinline id="bg-video">
  <source src="assets/img/login-bg.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
  <form class="form-default" (submit)="onSubmit()">
    <div class="login-form">
      <div class="logo-login">
        <a routerLink="/">
          <img src="assets/img/logo/loder.png" alt="Logo" />
        </a>
      </div>
      <h2>Login Here</h2>
      <div class="form-input">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="userName" name="email" placeholder="Email" required />
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Password" required />
      </div>
      <div class="form-input pt-30">
        <input type="submit" value="Login" />
      </div>
      <a routerLink="/forgot-password" class="forget">Forget Password</a>
      <a routerLink="/register" class="registration">Registration</a>
    </div>
  </form>
</main> -->

<main class="login-body position-relative">
  <!-- Background Video -->
  <!-- <video autoplay muted loop playsinline id="bg-video">
    <source src="assets/img/login-bg.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video> -->

<div class="bg-cover"
     [style.background-image]="'url(assets/img/login-background.png)'">
</div>



  <!-- change lang -->

  <div class="button-container">
        <div class="lang-box">
          <ng-container *ngFor="let row of languagesList">
            <a href="javascript:void(0);" *ngIf="row.langCode !== selectedLanguage.langCode"
              (click)="changeLanguage(row.langCode!)" class="langStyle">
              <i class="fas fa-language"></i>&nbsp;{{ row.langName }}
            </a>
          </ng-container>
        </div>

        <div class="main-page-box">
        <a class="langStyle" [routerLink]="['/MainPage']">
              {{ 'homePage' | translate }}
            </a>
        </div>
</div>

  <!-- Login Form -->
  <form class="form-default" (ngSubmit)="useLogin()" #f="ngForm" novalidate>
    <div class="login-form">
      <div class="logo-login">
        <a routerLink="/">
        <app-logo className="app-logo"></app-logo>
        </a>
      </div>

      <h2>{{ 'login' | translate }}</h2>

      <div class="form-input">
        <label for="email">{{ 'username' | translate }}</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          [(ngModel)]="userName"
          #emailCtrl="ngModel" />
        <small class="error-text" *ngIf="emailCtrl.invalid && (emailCtrl.touched || emailCtrl.dirty)">
         {{'Validation.UsernameRequired'|translate}}
        </small>
      </div>

      <div class="form-input">
        <label for="password">{{ 'password' | translate }}</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          [(ngModel)]="password"
          #passCtrl="ngModel" />
        <small class="error-text"*ngIf="passCtrl.invalid && (passCtrl.touched || passCtrl.dirty)">
         {{'Validation.PasswordRequired'|translate}}
        </small>
      </div>

      <div class="form-input pt-30">
        <button class="btn-login" type="submit" [disabled]="f.invalid || loading">{{ 'login' | translate }}</button>
      </div>

      <div class="error-banner" *ngIf="showError">{{ errorMessage }}</div>

      <!-- <a routerLink="/forgot-password" class="forget">{{ 'forgetPassword' | translate }}</a> -->
    </div>
  </form>
</main>

