<main>
  <!-- Slider / Breadcrumb -->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <div class="single-slider slider-height2"> 
      </div>
    </div>
  </section>


  <div class="accordion-container">
      <!-- Courses -->
    <app-custom-accordion title="courses">
      <app-generic-table
       #teacherCourseTable
       [screenId]="'courses'" 
       [primaryKey]="'teacherCoursePk'"
       [columns]="teacherCourseColumns"
       [dataFactory]="teacherCourseDataFactory"
       [apiPath]="'teacherCourses'"
       (rowSelected)="onTeacherCourseSelected($event)"
       >
      </app-generic-table>
    </app-custom-accordion>
     <!-- Course Details -->
      <br>
      <app-custom-accordion title="TeacherCourse.courseDetails">
        <app-generic-form
         [columns]="teacherCourseColumns"
         [selectedRow]="selectedCourse"
         [alwaysEditable]="true"
         [primaryKey]="'teacherCoursePk'"
         [dataFactory]="teacherCourseDataFactory"
         [apiPath]="'teacherCourses'"
         (rowChanged)="onTeacherCourseRowChanged($event)"
         (newRowCreated)="onNewTeacherCourseRow($event)"
         (rowDeleted)="onTeacherCourseRowDeleted($event)"   
         (rowSaved)="onTeacherCourseSaved($event)"

         >
        </app-generic-form>
      </app-custom-accordion>

     <!-- Course Classes / students -->
      <br>
      <app-custom-accordion title="TeacherCourse.classes-students">
        <mat-tab-group mat-stretch-tabs="false">
          <mat-tab label='{{"Class.Classes" | translate}}' >
               <app-generic-table
                #classesTableRef
                [screenId]="'courses'" 
                [primaryKey]="'classPk'"
                [columns]="classColumns"
                [dataFactory]="classDataFactory"
                [apiPath]="'classes'"
                [selectedId]="selectedCourse?.teacherCoursePk"
                [searchParameterKey]="'teacherCourseFk'"
                (rowSelected)="onClassSelected($event)">
              </app-generic-table>
          </mat-tab>
          <mat-tab label='{{"TeacherCourse.students" | translate}}' >
              <app-generic-table
                [screenId]="'courses'" 
                [primaryKey]="'courseStudentPk'"
                [columns]="courseStudentColumns"
                [dataFactory]="courseStudentDataFactory"
                [apiPath]="'courseStudents'"
                [selectedId]="selectedCourse?.teacherCoursePk"
                [searchParameterKey]="'teacherCourseFk'"
                [isEditableTable]="true">
              </app-generic-table>
          </mat-tab>
        </mat-tab-group>
      </app-custom-accordion>

     
      <br>
     <app-custom-accordion title="Class.ClassDetails" *ngIf="selectedClass">
      <mat-tab-group mat-stretch-tabs="false">
          <mat-tab label='{{"Class.ClassDetails" | translate}}' >
                 <app-generic-form
                    [columns]="classColumns"
                    [selectedRow]="selectedClass"
                    [alwaysEditable]="true"
                    [primaryKey]="'classPk'"
                    [dataFactory]="classDataFactory"
                    [apiPath]="'classes'"
                    [selectedId]="selectedCourse?.teacherCoursePk"
                    [searchParameterKey]="'teacherCourseFk'"
                    (rowChanged)="onselectedClassRowChanged($event)"
                    (newRowCreated)="onNewClassRow($event)"
                    (rowSaved)="onClassSaved($event)"
                    (rowDeleted)="onClassRowDeleted($event)">
                 </app-generic-form>
          </mat-tab>
          <mat-tab label='{{"StudentAttendance.Attendance" | translate}}' >
                <app-generic-table
                  [screenId]="'studentAttendance'"
                  [primaryKey]="'studentAttendanceClassPk'"
                  [columns]="studentAttendanceColumns"
                  [dataFactory]="StudentAttendanceDataFactory"
                  [apiPath]="'studentAttendanceClasses'"
                  [searchParameterKey]="'classFk'"
                  [selectedId]="selectedClass.classPk"
                  [isEditableTable]="true">
                </app-generic-table>
          </mat-tab>
        </mat-tab-group>

      </app-custom-accordion>
  </div>


</main>